
body{ background-repeat: no-repeat;
    
  background-size: 100% 100%;   }


h1,h2,h3,a {color: white;
        text-decoration:none;
        list-style: none;
        font-style:italic;
        font-weight: normal;
        font-family: 'Times New Roman', Times, serif;
    }
html{scroll-behavior: smooth;}


.logo-projeto{
  font-size: 42px;
  font-family:'Times New Roman', Times, serif;
               text-align: center;}

h3::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .btn-txt:hover {
    font-size: 32px;
  }
  .btn{
    background-color: #6d1818;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

  }
  
 .btn:hover{
  font-size: 22px;
 }

  .btn-txt{
    
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  .btn-div{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    text-align: center;
  }

#text {
    font-size: 30px;
}

.cabecalho { display: flex;
              
              flex-direction: row;
              justify-content: flex-end;
              justify-content: space-around;
              align-items:center;
              
              
}


.cabecalho-txt { display: flex;
                color: white;
                font-size: 42px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                padding: 0px;
                flex-direction: row;
                justify-content: left;
                justify-items: top;
                gap: 80px;

}

.cabecalho-menu{

                display: flex;
                font-weight:900;
                color: white;
                font-size: 36px;
                text-decoration:none;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;

                
                justify-content:right ;
                align-items:flex-start;
                gap: 80px;

}

.cabecalho-menu:hover {font-size: 40px;background-color: grey;}


.cabecalho-center_txt { 
  padding-top: 60px;
                        display: flex;
                        flex-direction: column;
                        font-family: 'Times New Roman', Times, serif;
                        font-weight:900;
                      
}


.contato {
      
      padding-top: 300px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      align-self:center;
      color: white;
      font-size: 36px;
      gap: 30px;
      display: flex;
      text-decoration:none;}


.contato:hover,.contato_img:hover {font-size: 39px;}
.contato_img {
    justify-content:safe;
    display: flex;
    text-decoration:none;
    flex-direction: row;
}


.projeto_py{
  display: none;
}


.projeto_py ul { display: flex;
                        justify-content: space-around;

                        width: 1200px;
                        height: 400px;}

.projeto_py img {  display: flex;
                         box-shadow: inset 0 0 1em gold, 0 0 1em red;
                         width: 290px;
                         height: 270px;}

.projeto_py img:hover {
  width: 390px;
  height: 370px;
}
.projeto_logo {     padding-top: 30px;
                    box-shadow: none;
                     display: flex;
                     align-items: center;
                    flex-direction: column; }

.projeto_logo img { height: 80px;
                    box-shadow: none;
                    width: 80px;
                             }

                             
.projeto_logo h2{  font-family: 'Times New Roman', Times, serif;

                    font-size: 28px;}


.projeto_js{
   display: none;
            }


.projeto_js ul { display: flex;
        justify-content: space-around;

        width: 1200px;
        height: 400px;}

.projeto_js img {  display: flex;
         box-shadow: inset 0 0 1em gold, 0 0 1em red;
         width: 290px;
         height: 270px;}

.projeto_js img:hover{
  width: 390px;
  height: 370px;
}

.projeto_logo_js {     padding-top: 30px;
          box-shadow: none;
           display: flex;
           align-items: center;
          flex-direction: column; }

.projeto_logo_js img { height: 80px;
          box-shadow: none;
          width: 80px;
                   }         
                        

.learn_icon{
  justify-content: center;
  display: flex;
  gap: 50px;
  flex-direction: row;
}

.img_icon{
  
  width: 80px;
  height: 80px
}

.footer_vr{
  padding-top: 400px;
}



@media screen and (max-width: 412px){

    .cabecalho {  
        
      flex-direction: column;
      gap: 5px;
                      
    }
    .cabecalho-center{

        text-align: center;    
    }

    .contato {
        font-size: 10px;
        padding: 5px;
        flex-direction:row;
        align-items: flex-start;

    }

    .projeto_py ul {
        padding-top: 300px;
        padding-bottom: 300px;
        flex-direction: column;
    }

    .projeto_js ul{
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;

    }

    .img_icon{
  
      width: 50px;
      height: 50px
    }
  
    .btn {
      background-color: #6d1818;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    }
    
   
}