/* body{ 
  background-repeat: no-repeat;
  background-size: 100% 100%;  
  background-color: #F0F8FF;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}

h1,h2,h3,a {
  color: #008080;
  text-decoration:none;
  list-style: none;
  font-style:italic;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 5px #008080;
}

html{
  scroll-behavior: smooth;
  background-color: #F0F8FF;
}

.logo-projeto{
  font-size: 42px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  text-shadow: 0px 0px 5px #008080;
}

h3::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
}

.btn-txt:hover {
  font-size: 32px;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
}

.btn{
  background-color: #6d1818;
  border: 2px solid #008080;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #008080;
}

.btn:hover{
  font-size: 22px;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
  background-color: #F0F8FF;
  border: 2px solid #008080;
  box-shadow: 0px 0px 5px #008080;
}

.btn-txt{
  color: #008080;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 5px #008080;
}

.btn-div{
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  text-align: center;
}

#text {
  font-size: 30px;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
}

.cabecalho { 
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
  align-items:center;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}


.cabecalho-txt { 
  display: flex;
  color: #008080;
  font-size: 42px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0px;
  flex-direction: row;
  justify-content: left;
  justify-items: top;
  gap: 80px;
  text-shadow: 0px 0px 5px #008080;
}

.cabecalho-menu{
  display: flex;
  font-weight:900;
  color: #008080;
  font-size: 36px;
  text-decoration:none;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  justify-content:right ;
  align-items:flex-start;
  gap: 80px;
  text-shadow: 0px 0px 5px #008080;
}

.cabecalho-menu:hover {
  font-size: 40px;
  background-color: #F0F8FF;
  border: 2px solid #008080;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
  box-shadow: 0px 0px 5px #008080;
}


.cabecalho-center_txt { 
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-weight:900;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
}


.contato {    
  padding-top: 300px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-self:center;
  color: #008080;
  font-size: 36px;
  gap: 30px;
  display: flex;
  text-decoration:none;
  text-shadow: 0px 0px 5px #008080;
}

.contato:hover,.contato_img:hover {
  font-size: 39px;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
}

.contato_img {
  justify-content:safe;
  display: flex;
  text-decoration:none;
  flex-direction: row;
}


.projeto_py{
  display: none;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}


.projeto_py ul { 
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 400px;
}

.projeto_py img {  
  display: flex;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
  width: 290px;
  height: 270px;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}

.projeto_py img:hover {
  width: 390px;
  height: 370px;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}

.projeto_logo {     
  padding-top: 30px;
  box-shadow: none;
  display: flex;
  align-items: center;
  flex-direction: column; 
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}

.projeto_logo img { 
  height: 80px;
  box-shadow: none;
  width: 80px;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}

.projeto_logo h2{  
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  color: #008080;
  text-shadow: 0px 0px 5px #008080;
}


.projeto_js{
   display: none;
   border: 2px solid #008080;
   border-radius: 10px;
   box-shadow: 0px 0px 5px #008080;
}


.projeto_js ul { 
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 400px;
}

.projeto_js img {  
  display: flex;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;
  width: 290px;
  height: 270px;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #008080;
}

.projeto_js img:hover{
  width: 400px;
  height: 400px;
}

.projeto_logo_js {  padding-top: 30px;
          box-shadow: none;
           display: flex;
           align-items: center;
          flex-direction: column; }

.projeto_logo_js img { height: 80px;
          box-shadow: none;
          width: 80px;
                   }         
                        

.learn_icon{
  justify-content: center;
  display: flex;
  gap: 50px;
  flex-direction: row;
}


.whapp{
  position: fixed;bottom: 20px;right: 30px;
}

.img_icon_whapp{
  width: 80px;
  height: 80px
}

.img_icon_whapp:hover{
  width: 100px;
  height: 100px
}


.img_icon{
  
  width: 80px;
  height: 80px
}

.footer_vr{
  padding-top: 400px;
}



@media screen and (max-width: 414px){

    .cabecalho {  
        
      flex-direction: column;
      gap: 5px;
                      
    }
    .cabecalho-center{

        text-align: center;    
    }

    .contato {
        font-size: 10px;
        padding: 5px;
        flex-direction:row;
        align-items: flex-start;

    }

    .projeto_py ul {
        padding-top: 300px;
        padding-bottom: 300px;
        flex-direction: column;
    }

    .projeto_js ul{
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;

    }
     
    .img_icon_whapp{
      width: 40px;
      height: 40px
    }
    .img_icon{

      width: 50px;
      height: 50px
    }
  
    .btn {
      background-color: #6d1818;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    }
    
   
} */
