
body  {background-color: black;}
h1,h2,h3,a {color: white;
        text-decoration:none;
        list-style: none;
        font-style:italic;
        font-weight: normal;
        font-family: 'Times New Roman', Times, serif;
    }
html{scroll-behavior: smooth;}

h3::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .btn-txt:hover {
    font-size: 32px;
  }
  .btn{
    background-color: #6d1818;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

  }
   
  

  .btn-txt{
    
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  .btn-div{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    text-align: center;
  }

#text {
    font-size: 30px;
}

.cabecalho { display: flex;
              flex-direction: row;
              justify-content: flex-end;
              justify-content: space-around;
              align-items:center;
              gap: 100px;
}



.cabecalho-txt { display: flex;
                color: white;
                font-size: 42px;
                font-family:Fantasy;
                padding: 0px;
                flex-direction: row;
                justify-content: left;
                justify-items: top;
                gap: 80px;

}

.cabecalho-menu{

                display: flex;
                font-weight:900;
                color: white;
                font-size: 36px;
                text-decoration:none;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;

                
                justify-content:right ;
                align-items:flex-start;
                gap: 80px;

}

.cabecalho-menu:hover {font-size: 40px; }



.cabecalho-center_txt {
                        display: flex;
                        flex-direction: column;
                        font-family: 'Times New Roman', Times, serif;
                        font-weight:900;
                      
}


.contato {
      background-color: rgb(28,28,28);
      padding-top: 200px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      align-self:center;
      color: white;
      font-size: 36px;
      gap: 30px;
      display: flex;
      text-decoration:none;}


.contato:hover,.contato_img:hover {font-size: 39px;}
.contato_img {
    justify-content:safe;
    display: flex;
    text-decoration:none;
    flex-direction: row;
}


.projeto {
                    width: 400px;
                    height: 400px;
                    align-items: center;
             }




.projeto ul { display: flex;
                        justify-content: space-around;

                        width: 1200px;
                        height: 400px;}

.projeto img {  display: flex;
                         box-shadow: inset 0 0 1em gold, 0 0 1em red;
                         width: 290px;
                         height: 270px;}


.projeto img:hover { font-size: 50px;
                               width: 300px;
                               height: 290px;}

.projeto_logo {     padding-top: 100px;
                    box-shadow: none;
                     display: flex;
                     align-items: center;
                    flex-direction: column; }

.projeto_logo img { height: 80px;
                    box-shadow: none;
                    width: 80px;
                             }


.projeto_logo h2{  font-family: 'Times New Roman', Times, serif;

                    font-size: 28px;}

.desktop_div { background-color: rgb(28,28,28);}


.desktop {
                width: 400px;
                height: 400px;
                align-items: center;

         }


.desktop ul {  display: flex;
                            justify-content: space-around;
                            width: 1200px;
                            height: 400px;}


.desktop img {  display: flex;
                             box-shadow: inset 0 0 1em gold, 0 0 3em black;

                             width: 290px;
                             height: 270px;}


.desktop img:hover { font-size: 50px;
                                   width: 300px;
                                   height: 290px;}

.projeto_logo {     padding-top: 100px;
                                 box-shadow: none;
                                 display: flex;
                                 align-items: center;
                                 flex-direction: column; }

.projeto_logo img { height: 80px;
                                 box-shadow: none;
                                 width: 80px;
                                 }


.projeto_logo h2{  font-family: 'Times New Roman', Times, serif;

                               font-size: 28px;}

@media screen and (max-width: 390px){

    .cabecalho {  
        
      flex-direction: column;
      gap: 5px;
                      
    }
    .cabecalho-center{

        text-align: center;    
    }

    .contato {
        flex-direction: column;
    }

    .projeto ul {
        padding-top: 300px;
        padding-bottom: 300px;
        flex-direction: column;
    }

    .desktop ul{
        padding-top: 300px;
        padding-bottom: 300px;
        flex-direction: column;

    }


    .btn {
      background-color: #6d1818;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    }
    
   
}